@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.ttf") format("truetype");
}

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.videoTag {
  object-fit: cover;
  z-index: -99;
  position: fixed;
  min-height: 200%;
  min-width: auto;
  top: -200px;
}
.projects {
  height: auto;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
}

.name {
  color: #f8f7f6;
  font-weight: 200;
  font-size: 700%;
  padding-left: 20vw;
  padding-top: 20vh;
  margin: 0;
  font-family: Rubik;
}
.job {
  color: #5158bb;
  font-weight: 200;
  font-size: 4rem;
  padding-left: 20vw;
  padding-top: 10px;
  margin-top: 0;
  font-family: Rubik;
}

span {
  color: #767676;
}

.canvas {
  background-color: #f8f7f6;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: inline-block;
  min-height: 100vh;
}

.about-me {
  color: #5158bb;
  font-size: 6.5rem;
  display: flex;
  justify-content: center;
  font-family: "Rubik";
  margin-bottom: 40px;
  margin-top: 0px;
  padding-top: 20px;
  flex-direction: row;
}
.me {
  max-width: 40%;
  height: auto;
  top: 70px;
  border: 20px solid #767676;
  margin-left: 15%;
  display: inline-block;
}

.about-me-p {
  display: inline-block;
  margin-left: 70px;
  margin-top: 50px;
  margin-right: 70px;
  color: rgba(10, 10, 10, 1);
  font-size: 24px;
  max-width: 600px;
}
.firstp {
  margin-top: 0;
  display: inline-block;
}

.contact {
  font-size: 2em;
}

a {
  color: inherit;
}

.projects-canvas {
  background-color: #5158bb;
  height: auto;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: inline-block;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 7vw;
  padding-left: 7vw;
  flex-wrap: wrap;
}

.projects-title {
  color: #f8f7f6;
  font-size: 6.5rem;
  display: flex;
  justify-content: center;
  font-family: "Rubik";
  margin-bottom: 40px;
  margin-top: 0px;
  padding-top: 20px;
}

@media (max-width: 645px) {
  .job {
    padding-top: 10px;
    font-weight: 200;
    font-size: 3rem;
  }
}
@media (max-width: 375px) {
  .name {
    font-size: 4rem;
  }
}
