.wrapper-nav{
    display: flex;
    flex-direction: row;
    width: 300px + 10vw;
    height: 100%;
    position: fixed;
    transition: 0.4s;
    z-index: 999;
    left: -300px;
    text-justify: center;
    justify-content:center;
}
a{
    color:inherit;
    text-decoration: inherit;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(1, auto);
    height: 100%;
    position:sticky;
    width: 300px;
    text-align: center;
    background-color:rgba(10, 10, 10, 0.9);
    order: 0;
    text-justify: center;
    justify-content:right;
    border-right: 15px solid #767676;
}

.blank{
    width: 10vw;
    height: 100%;
    order: 1;
}

.wrapper-nav:hover{
    left:0;
    transition: 0.4s;
}

.nav-menu-items{    
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1.5rem;
    color: #F8F7F6;
    padding-right: 20px;
    padding-left: 0px;
    align-items: flex-end;
    font-weight: 550;
}

.nav-items{
    display:list-item;
    padding-top: 3rem;
    padding-bottom: 1rem;
    width: fit-content;
    font-family:sans-serif;
}

.nav-items:hover{
    color: #5158BB;
    border-radius: 0;
    cursor: pointer;
}
